:host {
    display: block;

    ::ng-deep {
        .p-datepicker input {
            text-align: center;
            font-weight: 800;
            border: none;
            box-shadow: none;
            background: transparent;
            padding: 0;
            color: #183153;
        }

        .p-datepicker input:focus {
            outline: none;
            box-shadow: none;
        }
    }
}
